.about{
   
min-height: 500px;
}
.breadcrumb{
    height: 50px;
    display: flex;
    align-items: center;
    color: #C4C4C4;
    padding: 10px 0;
border-bottom: 1px solid #C4C4C4;;
font-size: 16px;
background: transparent;
}
.breadcrumb-item i{
    color: #C4C4C4;
}
.breadcrumb-item-active{
    font-weight: bold;
    color: #1C476D;
}
.about-content{
    padding: 25px 0;
    text-align: justify;
}
.list-category{
    background: #F4F6F8;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
   list-style: none;
}
.list-category a{
 color: #212529;
line-height: 19px;
font-weight: bold;
    font-size: 16px;
 
}
.category-item{
    padding:10px 20px;
    border-bottom:  1px dashed #CFCFCF;
}
.category-item-active{
    padding:10px 20px;
    background: #1C476D;
    color: #FFFFFF;

}
.title-video{
    font-size: 26px;
    width: 68px;
}
.video_banner{
    height: auto;
}
.document{
    padding: 10px 10px;
}
.text-document p, .text-document a {
    white-space: normal !important;
}
@media (max-width: 985px) {
    .document p{
     font-size: 1.5em;
    }
}
.share{
    display: flex;
    flex-flow: wrap;
}
.print{
    padding-left: 10px;
    border-left: 1px dashed gray;
}
.print button{
    background-color: darkgray;
}
.view  span{
    color: #C4C4C4;
}