.about{
   
min-height: 500px;
}
.breadcrumb{
    height: 50px;
    display: flex;
    align-items: center;
    color: #C4C4C4;
    padding: 10px 0;
border-bottom: 1px solid #C4C4C4;;
font-size: 16px;
background: transparent;
}
.breadcrumb-item i{
    color: #C4C4C4;
}
.breadcrumb-item-active{
    font-weight: bold;
    color: #1C476D;
}
.about-content{
    padding: 25px 0;
    text-align: justify;
}
.about-content p{
    color:#4A4A4A ;
}
.list-category{
    background: #F4F6F8;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
   list-style: none;
}
.list-category a{
 color: #212529;
line-height: 19px;
font-weight: bold;
    font-size: 16px;
 
}
.category-item{
    padding:10px 20px;
    border-bottom:  1px dashed #CFCFCF;
}
a:last-child li{
    border-bottom: none;
}
.color-icon-bl{
    color: black;
    font-size: 10px;
}
.category-item-active{
    padding:10px 20px;
    background: #1C476D;
    color: #FFFFFF;

}
.tieudechung{
    font-size: 24px;
    font-weight: bold;
}
.tieudechung a{
    border-bottom: 5px solid #F0CB46;
    color: #1C476D;
}
.video_banner{
    height: auto;
}
.document{
    padding: 10px 10px;
}

.text-document p, .text-document a {
    white-space: normal !important;
}

.document {
    font-size: 0.9em;
 } 
 .img-daotao {
    width: 40px ;
    height: 40px;
}
@media (max-width: 1024px) {
    .document {
     font-size: 0.7em ;
    }
}


@media (max-width: 991.98px) {
    .document {
     font-size: 1.5em ;
    }
    .document{
        padding: 10px 40px;
    }
    .img-daotao {
        width: 54px ;
        height: 54px;
    }
}
@media (max-width: 768px) {
    .document {
     font-size: 1em ;
    }
    .document{
        padding: 10px 10px;
    }
}
.share{
    display: flex;
    flex-flow: wrap;
}
.print{
    padding-left: 10px;
    border-left: 1px dashed gray;
}
.print button{
    background-color: darkgray;
}
.view  span{
    color: #C4C4C4;
}
.star{
    color: darkgoldenrod;
}